# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Build Output
# =========================
dist/

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Environment Files
# =========================
.env
.env.local
.env.*.local

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
*.tgz
*.log
